header {
    height:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 30px;
}


.topbar{
	background: #0d3c55;
    color: #FFF;
}   